.app {
  text-align: center;
  background-color: black;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  z-index: 1000;
  font-size: large!important;
  font-family: 'Cinzel', serif; /* Gothic styled font */
  background-color: #1b1b1b; /* Dark background color */
  color: #d4af37; /* Golden text color */
}

.content {
  margin: 0;
  padding: 0;
}
